@import "./components/variables";
@import "./components/global";
@import "./components/header";

.main{
    
    width: 100vw;
    grid-row: 2 / 10;
    grid-column: 1 / 7;

    &--presentation{
        
        height: 383px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: url("/Portafolio/assets/fondo.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        

        &__img{
            
            width: 200.68px;
            max-width: 500px;
            height: 128.6px;
            position: relative;
            

        }

        &__name{
        
            position: absolute;
            font-size: 28px;
            color: $light-primary-color;
            top: 200px;
            right: 30px;
        }

        &__animation{
            position: absolute;
            font-size: 24px;
            color: $light-primary-color;
            top: 235px;
            right: 30px;
        }
    }

    &--about-me{
        background-color: $light-primary-color;
        width: 100vw;
        height: 444px;
        text-align: center;

        &__photo{
            
            margin: 23.92px 0 19px 0;
            width: 96px;
            height: 86px;
        }

        &__info{
            margin: 0 30px 0 30px;
        }

    }

    &--skills{
        width: 100vw;
        height: 952px;
        background-color: $dark-primary-color;

    }

    &--projects{
        width: 100vw;
        height: 267px;
        background-color: $primary-text;
    }

    &--contact{
        width: 100vw;
        height: 245px;
        background-color: $light-primary-color;

        & p{
            text-align: center;
            margin-block-start: 60px;
            font-weight: bold;
        }

    }
}

.title{
    display: flex;
    justify-content: center;
    margin: 0 45px;
    padding-block-end: 9px;
    border-block-end: 1px solid $primary-text;
    
}

.text__title{
    margin-block-start: 21px;
    font-size: 20px;
}

.main--skills .title, .main--projects .title{
    color: $light-primary-color;
    border-color: $light-primary-color;
}


.skills-ul{
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    height: 140px;
    margin: 48px 40px 83px 48px;

    
}

.skill-info{
    flex: 0 0 auto;
    width: 84px;
    height: 137px;
    list-style: none;
    margin-inline-end: 42px;
    text-align: center;
    

    &__logo{
        width: 84px;
        height: 96px;
    }

    &__title{
        margin-block-start: 16px;
        color: $light-primary-color;
        font-size: 20px;
    }
}

.footer{
    grid-column: 1 / 7;
    grid-row: 11 / 12;
    width: 100vw;
    height: 88px;
    background-color: $dark-primary-color;

    &--credits{
        display: inline-block;
        margin: 23px 70px 0 15px;
        color: $light-primary-color;
        line-height: 22px;
        
    }
    
    &--github{
        width: 32px;
        height: 32px;
    }
}
