* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  display: grid;
  grid-template-rows: 52px 383px 57px 388px 57px 855px 57px 208px 57px 184px 88px;
  grid-template-columns: repeat(auto-fit, minmax(45px, 1fr));
  column-gap: 10px;
  /*grid-template-areas: 
  "title title title  no no hamburguer"
  " no   prese prese  prese prese no"
  " no   about about  about about no"
  " no   ";*/
  background-color: #607D8B;
}

.header {
  /*Cambiar cuando se haga responsive*/
  width: 100vw;
  position: fixed;
  top: 0;
  /*-----------------------------------*/
  background-color: #616161;
  grid-row: 1;
  grid-column: 1/7;
  box-shadow: 1px 1px 5px #000;
}
.header--title {
  height: 52px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 11px;
  align-items: center;
}
.header--title__name {
  min-width: 140px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header--title__hamburguer {
  transform-origin: origin;
  transition: transform 500ms;
}
.header--title__hamburguer:active {
  transform: rotate(90deg);
}

.size {
  width: 24px;
  height: 24px;
}

.title__name-name {
  color: #F5F5F5;
  font-size: 18px;
  font-weight: 70%;
}

.main {
  width: 100vw;
  grid-row: 2/10;
  grid-column: 1/7;
}
.main--presentation {
  height: 383px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("/Portafolio/assets/fondo.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.main--presentation__img {
  width: 200.68px;
  max-width: 500px;
  height: 128.6px;
  position: relative;
}
.main--presentation__name {
  position: absolute;
  font-size: 24px;
  color: #F5F5F5;
  top: 205px;
  right: 30px;
}
.main--presentation__animation {
  position: absolute;
  font-size: 24px;
  color: #F5F5F5;
  top: 235px;
  right: 30px;
}

.footer {
  grid-column: 1/7;
}