
<header class="header">
  <nav class="header--title">
    <div class="header--title__name"><img class="title__name-img size" src="/Portafolio/assets/code.svg" alt=""/><a href="#index">
        <p class="title__name-name">Julian Pinilla  </p></a></div>
    <ul class="header--title__ul"> 
      <li class="header--title__li"><a href="#about-me">About Me </a></li>
      <li class="header--title__li"> <a href="#skills">Skills</a></li>
      <li class="header--title__li"> <a href="#my-projects">My Projects</a></li>
      <li class="header--title__li"><a href="#contact-me">Contact Me </a></li>
    </ul><img class="header--title__hamburguer size" src="/Portafolio/assets/hamburguer.svg" alt=""/>
  </nav>
</header>