
<section class="main--projects" id="my-projects">
  <div class="title">
    <h2 class="text__title">My Projects</h2>
  </div>
  <ul class="main--projects__ul"> 
    <li class="main--projects__project">
      <div class="main--projects__project-container"><img class="main--projects__project-container-img" src="/Portafolio/assets/batatabit.png" alt="Batatabit image"/>
        <h3 class="main--projects__project-container-title">Batatabit</h3>
        <div class="main--projects__project-container-pages"><a class="main--projects__project-container-pages-button-page" href="https://julianlizarazo.github.io/Bata-bit/" target="_blank">
            <button>GitHub Page</button></a><a class="main--projects__project-container-pages-button-repository" href="https://github.com/JulianLizarazo/Bata-bit" target="_blank">   
            <button>GitHub Repository</button></a></div>
      </div>
    </li>
  </ul>
</section>