
<section class="main--skills">
  <div class="title">
    <h2 class="text__title">Front-End Skills</h2>
  </div>
  <ul class="skills-ul">
    <li class="skill-info"> <img class="skill-info__logo" src="/Portafolio/assets/html.png" alt="Html Logo"/>
      <h3 class="skill-info__title">HTML</h3>
    </li>
    <li class="skill-info"> <img class="skill-info__logo" src="/Portafolio/assets/css.png" alt="Css Logo"/>
      <h3 class="skill-info__title">CSS</h3>
    </li>
    <li class="skill-info"> <img class="skill-info__logo" src="/Portafolio/assets/pug.svg" alt="Pug Logo"/>
      <h3 class="skill-info__title">PUG</h3>
    </li>
    <li class="skill-info"> <img class="skill-info__logo" src="/Portafolio/assets/sass.png" alt="Sass Logo"/>
      <h3 class="skill-info__title">SASS</h3>
    </li>
  </ul>
  <div class="title">
    <h2 class="text__title">Back-End Skills</h2>
  </div>
  <ul class="skills-ul">
    <li class="skill-info"> <img class="skill-info__logo" src="/Portafolio/assets/java.png" alt="Java Logo"/>
      <h3 class="skill-info__title">JAVA</h3>
    </li>
    <li class="skill-info"> <img class="skill-info__logo" src="/Portafolio/assets/sql.png" alt="SQL Logo"/>
      <h3 class="skill-info__title">SQL</h3>
    </li>
  </ul>
  <div class="title">
    <h2 class="text__title">Other Skills</h2>
  </div>
  <ul class="skills-ul"> 
    <li class="skill-info"> <img class="skill-info__logo" src="/Portafolio/assets/git.svg" alt="Git Logo"/>
      <h3 class="skill-info__title">GIT</h3>
    </li>
    <li class="skill-info"> <img class="skill-info__logo" src="/Portafolio/assets/figma.png" alt="Figma Logo"/>
      <h3 class="skill-info__title">FIGMA</h3>
    </li>
  </ul>
</section>