footer.footer
    p.footer--credits @ 2021 by Julian Pinilla. <br> All rights reserved.

    a.github-link(href="https://github.com/JulianLizarazo" target="_blank") 
        img.footer--github(src="/Portafolio/assets/github.png", alt="Github Icon")