header.header

    nav.header--title
        
        .header--title__name
            img.title__name-img(src="", alt="")

            p.title__name-name Julian Pinilla

        img.header--title__hamburguer(src="", alt="")
