header.header

    nav.header--title
        
        .header--title__name
            img.title__name-img.size(src="/Portafolio/assets/code.svg", alt="")

            a(href="#index")
                p.title__name-name Julian Pinilla  

        ul.header--title__ul 
            li.header--title__li
                a(href="#about-me") About Me 
            li.header--title__li 
                a(href="#skills") Skills
            li.header--title__li 
                a(href="#my-projects") My Projects
            li.header--title__li
                a(href="#contact-me") Contact Me 
           
        img.header--title__hamburguer.size(src="/Portafolio/assets/hamburguer.svg", alt="")
