header.header

            .header--title
                img.header--title__img(src="", alt="")

                p.header--title__name Julian Pinilla

                img.header--title__hamburguer(src="", alt="")
