header.header

    nav.header--title
        
        .header--title__name
            img.title__name-img.size(src="/Portafolio/assets/code.svg", alt="")

            p.title__name-name Julian Pinilla

        img.header--title__hamburguer.size(src="/Portafolio/assets/hamburguer.svg", alt="")
