include mixins.pug

main.main 
    section.main--presentation
         
        img.main--presentation__img(src="/Portafolio/assets/figmafigure.svg", alt="Combinated squares")

        h1.main--presentation__name Julian Pinilla 
        h2.main--presentation__animation Front-end <br> Developer

    section.main--about-me 
        +title("Sobre mí")   

        img.main--about-me__photo(src="/Portafolio/assets/userphoto.png", alt="User Photo")

        p.main--about-me__info Hola! Mi nombre es Julian Camilo Pinilla Lizarazo, soy desarrollador Front-End y actualmente estudio Ingenieria de Sistemas en la Universidad de Cundinamarca. <br><br> Soy una persona autodidacta y apasionada por la programación. Mi objetivo es llegar a convertirme en desarrollador Full-Stack.

    
    include skills.pug

    include projects.pug
    

    section.main--contact   
        +title("Contact Me")

        p COMING SOON!            
                        




                

             

                

                    


                        



