include mixins.pug 

mixin project(img, altimg, title, page, repository)
    li.main--projects__project
            .main--projects__project-container
                img.main--projects__project-container-img(src="/Portafolio/assets/"+img, alt=altimg)
                h3.main--projects__project-container-title #{title}
                .main--projects__project-container-pages
                    a.main--projects__project-container-pages-button-page(href=page, target="_blank")
                        button GitHub Page
                    a.main--projects__project-container-pages-button-repository(href=repository, target="_blank")    
                        button GitHub Repository

section.main--projects#my-projects
    +title("My Projects")

        
        
    ul.main--projects__ul 
        +project("batatabit.png", "Batatabit image", "Batatabit", "https://julianlizarazo.github.io/Bata-bit/", "https://github.com/JulianLizarazo/Bata-bit")
