include mixins.pug 

section.main--projects
        +title("My Projects")

        <!--Pendiente de revision :v (Esta es la caja que se va a animar-->
        .main--projects__project
            .project-img 
                h3.project-img__title