

include mixins.pug


section.main--skills#skills
        
        +title("Front-End Skills")
        

        ul.skills-ul
            +skill("html.png", "Html Logo", "HTML")
            +skill("css.png", "Css Logo", "CSS")
            +skill("pug.svg", "Pug Logo", "PUG")
            +skill("sass.png", "Sass Logo", "SASS")
            
            

            
            

        +title("Back-End Skills")
        
        ul.skills-ul
            +skill("java.png", "Java Logo", "JAVA")
            +skill("sql.svg", "SQL Logo", "SQL")

            

        +title("Other Skills")
            
        ul.skills-ul 
            +skill("git.svg", "Git Logo", "GIT")
            +skill("figma.png", "Figma Logo", "FIGMA")
        

