.header {
  /*Cambiar cuando se haga responsive*/
  width: 100%;
  position: fixed;
  top: 0;
  /*-----------------------------------*/
  background-color: #616161;
  grid-row: 1;
  grid-column: 1/7;
  z-index: 3;
  box-shadow: 1px 1px 5px #000;
}
.header--title {
  height: 52px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 11px;
  align-items: center;
}
.header--title__name {
  min-width: 140px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header--title__hamburguer {
  transform-origin: origin;
  transition: transform 500ms;
}
.header--title__hamburguer:active {
  transform: rotate(90deg);
}

.size {
  width: 24px;
  height: 24px;
}

.title__name-name {
  color: #F5F5F5;
  font-size: 18px;
  font-weight: 70%;
}