@import "./variables";

.main{
    
    width: 100%;
    grid-row: 2 / 10;
    grid-column: 1 / 7;

    &--presentation{
        
        height: 383px;
        display: flex;
        justify-content: center;
        align-items: center;
        /*background-image: url("/Portafolio/assets/fondo.jpg");
        background-size: cover;
        background-repeat: no-repeat;*/
        background-color: $accent-color;
        
        &__box{
            width: 80%;
            height: 200px;
        
        }

        &__name{
            text-align: center;
            font-size: 40px;
            font-weight: bold;
            color: $light-primary-color;
        }

        &__animation{
            text-align: center;
            margin-block-start: 20px;
            padding-inline-start: 15px;
            color: $light-primary-color;
        }

        &__list{
            width: 80%;
            height: 60px;
            margin: 40px auto 0 auto;
            display: flex;
            align-items: flex-end;
            justify-content: space-around;
        }

        &__li{
            list-style: none;

            &-img{
                width: 50px;
                height: 50px;
            }
        }


        
    }

    &--about-me{
        background-color: $light-primary-color;
        width: 100%;
        height: 444px;
        text-align: center;

        &__photo{
            
            margin: 23.92px 0 19px 0;
            width: 96px;
            height: 86px;
        }

        &__info{
            margin: 0 30px 0 30px;
        }

    }

    &--skills{
        width: 100%;
        height: 952px;
        background-color: $dark-primary-color;

    }

    &--projects{
        width: 100%;
        height: 407px;
        background-color: $primary-text;

        &__ul{
            display: flex;
            flex-wrap: nowrap;
            overflow-x: auto;

            
        }

        &__project{
            flex: 0 0 auto;
            margin: 32px 15px 14px 43px;
            list-style: none;
            

            &-container{
                position: relative;
                width: 146px;
                height: 282px;
                background-color: $dark-primary-color;
                border-radius: 20px;
                border: 1px solid $light-primary-color;
                box-shadow: 0 2px 4px $light-primary-color;
                

                &-img{
                    width: 144px;
                    height: 160px;
                    border-radius: 20px 20px 2px 2px;
                    
                }

                &-title{
                    position: absolute;
                    color: $light-primary-color;
                    bottom: 117px;
                    right: 35px;
                }
                
                &-pages{
                    margin-block-start: 18px;
                    text-align: center;
                    height: 100px;

                    & button{
                        width: 100%;
                        height: 30px;
                        margin-block-end: 10px;
                        background-color: $primary-text;
                        color: $light-primary-color;
                        border: 1px solid $primary-color;
                        font-family: $font-family;

                    }

                    
                    
                }
                
            }
        }
    }

    &--contact{
        width: 100%;
        height: 245px;
        background-color: $light-primary-color;

        & p{
            text-align: center;
            margin-block-start: 60px;
            font-weight: bold;
        }

    }
}


.title{
    display: flex;
    justify-content: center;
    margin: 0 45px;
    padding-block-end: 9px;
    border-block-end: 1px solid $primary-text;
    
}

.text__title{
    margin-block-start: 21px;
    font-size: 20px;
}

.main--skills .title, .main--projects .title{
    color: $light-primary-color;
    border-color: $light-primary-color;
}


.skills-ul{
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    height: 140px;
    margin: 48px 40px 83px 48px;

    
}

.skill-info{
    flex: 0 0 auto;
    width: 84px;
    height: 137px;
    list-style: none;
    margin-inline-end: 42px;
    text-align: center;
    

    &__logo{
        width: 84px;
        height: 96px;
    }

    &__title{
        margin-block-start: 16px;
        color: $light-primary-color;
        font-size: 20px;
    }
}
